*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}

img{
    cursor: pointer;

}

.flex-class{
    display: flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: static;
    top: 0;
    z-index: 10;
}

.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right #user-icon{
    width: 45px;
    border-radius: 50%;
    margin-right: 0;
}

.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
}

.nav-middle .microphone{
    width: 16px;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
}
.nav-middle .search-box img{
    width: 15px;;
}


/* -------second HTML------------------------------------------------------------- */

.play-container{
    padding-left: 2%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.play-video{
    flex-basis: 69%;
}
.right-burgermenu{
    flex-basis: 30%;
}
.play-video video{
    width: 100%;
}
/* list------------------- */
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.play-video .tags a{
    color: #0000ff;
    font-size: 13px;
} 

.play-video h3{
    font-weight: 600;
    font-size: 22px;
}
/* ------------------ */
.play-video .play-video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.play-video .play-video-info a img{
    width: 20px;
    margin-right: 8px;
    
}
.play-video .play-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
/* ------------ */
.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
/* ------------- */
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div{
    flex: 1;
    line-height: 18px;
}
.publisher img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
/* --upload-ერის Info-- */
.publisher div p{
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.publisher div span{
    color: #5a5a5a;
    font-size: 13px;
}
.publisher{
    background: red;
    color: #fff;
    padding: 8px 30px;
}
